<div class="header">
  <div class="header__top">
    <%= image_tag "zatu.png", class: "top-img", size: "300x200"; %>
    <div class="header__top__regi">
      <% if user_signed_in? %>
        <div class="item">
          <%= current_user.nickname %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log_btn' %>
        </div>
        <div class="postMovie">
          <%= link_to new_movie_path, class: 'log_btn' do %>
          <div class="postMovie__text">
            投稿
          </div>
          <div class="postMovie__icon">
            <%= icon('fas', 'film', class: "icon") %>
          </div>
        </div>
          <% end %>
        <% elsif admin_signed_in? %>
          <div class="item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'log_btn' %>
          </div>

      <% else %>
        <div class="item">
          <%= link_to "ログイン", new_user_session_path, class: 'log_btn' %>
        </div>
        <div class="item">
          <%= link_to "新規登録", new_user_registration_path, class: 'log_btn' %>
        </div>
        <div class="item">
          <%= link_to "管理者", new_admin_session_path, class: 'log_btn' %>
        </div>
      <% end %>

    </div>
  </div>
  <div class="cat">
    <%= link_to "カテゴリー", "#", class: "cat__btn" %>
    <div class="slide">
      <p class="s_all">All</p>
      <div class="s_cook">料理
        <div class="c_cook">
          <p class="co_1">和食</p>
          <p class="co_2">洋食</p>
          <p class="co_3">中華</p>
        </div>
      </div>
      <div class="s_movie">映画
        <div class="c_movie">
          <p class="mo_1">アクション</p>
          <p class="mo_2">コメディ</p>
          <p class="mo_3">ホラー</p>
        </div>
      </div>
      <div class="s_gym">ジム
        <div class="c_gym">
          <p class="gy_1">上半身</p>
          <p class="gy_2">下半身</p>
          <p class="gy_3">ストレッチ</p>
        </div>
      </div>
      <div class="s_music">音楽
        <div class="c_music">
          <p class="mu_1">HipHop</p>
          <p class="mu_2">LoFi</p>
          <p class="mu_3">Rock</p>
        </div>
      </div>
    </div>
  </div>
</div>
