<%= render "header" %>
<div class="movie-show">
  <!-- <div class="">Chatroom
  </div> -->
  <marquee class="room" bgcolor="white" width="100%" height="50"
scrollamount="2" scrolldelay="2" direction="left" behavior="alternate">
Chatroom
</marquee>
  <div class="movie-show__title">
    <%= @movie.title %>
  </div>
  <div class="movie-show__image">
    <%= image_tag @movie.image.to_s, size: "300x200" %>
  </div>
  <div class="odai">
    <%= @movie.body %>
  </div>
  <div class="people">投稿者：
  <%= @user.nickname %>
  </div>
  <div class="movie-show__body">


  </div>
  <div class="comments">
    <% if @comments %>
      <% @comments.each do |comment| %>
        <div class="comments__box">
          <div class="comments__box__body">
            <%= comment.comment %>
          </div>
          <div class="comments__box__time">
            <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
          </div>
          <div class="comments__box__user">
            <%= comment.user.nickname %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="comment">
    <% if current_user %>
      <%= form_with(model: [@movie, @comment], local: true) do |form| %>
        <%= form.text_area :comment, placeholder: "Comment", class: "comment__area" %>
        <%= form.submit "Submit", class: "comment__btn" %>
      <% end %>
    <% else %>
      <p class="needlog">※コメントするにはログインしてください</p>
    <% end %>
  </div>
</div>
<% if user_signed_in? && @movie.user_id == current_user.id %>
<<%= link_to '編集', edit_movie_path%>
<% end %>
<a class="btn" href="/">投稿一覧</a>
